# tfcmt Configuration used for posting Terraform GitHub Summaries
# https://suzuki-shunsuke.github.io/tfcmt/config
embedded_var_names: []
ci:
  owner: []
  repo: []
  sha: []
  link: []
  vars: {}
templates:
  plan_title: |
    {{ if eq .ExitCode 1 }}
    ## :x: Drift Detection Failed for `{{.Vars.component}}` in `{{.Vars.stack}}`!
    {{ end }}
    {{- if eq .ExitCode 0 }}
    ## Drift Detected for `{{.Vars.component}}` in `{{.Vars.stack}}`
    
    {{ if .CreatedResources}}[![create](https://shields.io/badge/PLAN-CREATE-success?style=for-the-badge)](#user-content-create-{{.Vars.stack}}-{{.Vars.component}}){{ end }}
    {{- if .UpdatedResources }} [![change](https://shields.io/badge/PLAN-CHANGE-important?style=for-the-badge)](#user-content-change-{{.Vars.stack}}-{{.Vars.component}}){{ end }}
    {{- if .ReplacedResources }} [![replace](https://shields.io/badge/PLAN-REPLACE-critical?style=for-the-badge)](#user-content-replace-{{.Vars.stack}}-{{.Vars.component}}){{ end }}
    {{- if .DeletedResources }} [![destroy](https://shields.io/badge/PLAN-DESTROY-critical?style=for-the-badge)](#user-content-destroy-{{.Vars.stack}}-{{.Vars.component}}){{ end }}
    {{- if not (or .CreatedResources .UpdatedResources .ReplacedResources .DeletedResources) }} [![no changes](https://shields.io/badge/-NO_CHANGE-inactive?style=for-the-badge)](#user-content-result-{{.Vars.stack}}-{{.Vars.component}}){{ end }}{{ end }}

  result: |
    <details><summary><a id="result-{{.Vars.stack}}-{{.Vars.component}}" />{{if .Result}}{{ .Result }}{{end}}</summary>

    <br/>
    To reproduce this locally, run:<br/><br/>

  updated_resources: |
    ---
    {{- if .CreatedResources}}
    ### <a id="create-{{.Vars.stack}}-{{.Vars.component}}" />Create
    ```diff
    {{- range .CreatedResources}}
    + {{.}}
    {{- end}}
    ```
    {{- end}}
    {{- if .UpdatedResources}}
    ### <a id="change-{{.Vars.stack}}-{{.Vars.component}}" />Change
    ```diff
    {{- range .UpdatedResources}}
    ~ {{.}}
    {{- end}}
    ```
    {{- end}}
    {{- if .ReplacedResources}}
    ### <a id="replace-{{.Vars.stack}}-{{.Vars.component}}" />Replace
    ```diff
    {{- range .ReplacedResources}}
    - {{.}}
    + {{.}}
    {{- end}}
    ```
    {{- end}}
    {{- if .DeletedResources}}
    ### <a id="destroy-{{.Vars.stack}}-{{.Vars.component}}" />Destroy
    ```diff
    {{- range .DeletedResources}}
    - {{.}}
    {{- end}}
    ```
    {{ end}}
    </details>
  deletion_warning: |
    {{if .HasDestroy}}
    ### :warning: Resource Deletion will happen :warning:
    This plan contains resource delete operation. Please check the plan result very carefully!
    {{end}}
  change_outside_terraform: |
    {{if .ChangeOutsideTerraform}}
    <details><summary>:information_source: Objects have changed outside of Terraform</summary>

    _This feature was introduced from [Terraform v0.15.4](https://github.com/hashicorp/terraform/releases/tag/v0.15.4)._
    {{wrapCode .ChangeOutsideTerraform}}
    </details>
    {{end}}
  warning: |
    {{if .Warning}}
    ## :warning: Warnings :warning:
    {{wrapCode .Warning}}
    {{end}}
  error_messages: |
    {{if .ErrorMessages}}
    ## :warning: Errors
    {{range .ErrorMessages}}
    * {{. -}}
    {{- end}}{{end}}
  metadata: |
    <details><summary>Metadata</summary>

    ```json
    {
      "component": "{{.Vars.component}}",
      "stack": "{{.Vars.stack}}",
      "componentPath": "{{.Vars.componentPath}}",
      "commitSHA": "{{.Vars.commitSHA}}"
    }
    ```
    </details>
  branding: |
    {{- if ne .Vars.logoImage "" }}
    <a href="{{.Vars.logoUrl}}"><img src="{{.Vars.logoImage}}" width="100px" align="right"/></a>
    {{- end }}
terraform:
  plan:
    disable_label: false
    template: |
      {{template "plan_title" .}}
      {{template "branding" .}}
      {{template "deletion_warning" .}}
      {{template "result" .}}
      ```shell
      atmos terraform plan {{.Vars.component}} -s {{.Vars.stack}}
      ```
      {{template "updated_resources" .}}
      {{if .ChangedResult}}
      <details><summary>Terraform <strong>Plan</strong> Summary</summary>
      {{wrapCode .ChangedResult}}
      </details>
      {{end}}
      {{template "change_outside_terraform" .}}
      {{template "warning" .}}
      {{template "error_messages" .}}
      {{template "metadata" .}}
    when_parse_error:
      template: |
        {{template "plan_title" .}}

        <details><summary>Result</summary>
        {{wrapCode .CombinedOutput}}
        </details>
