name: "Test - Changes exists"

on:
  workflow_dispatch: {}

env:
  AWS_REGION: us-east-2

# Permissions required for assuming AWS identity
permissions:
  id-token: write
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: [setup]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - shell: bash
        run: |
          mkdir -p ${{ runner.temp }}
          cp ./tests/atmos.yaml ${{ runner.temp }}/atmos.yaml
          sed -i -e 's#__STORAGE_REGION__#${{ env.AWS_REGION }}#g' ${{ runner.temp }}/atmos.yaml          
          sed -i -e 's#__STORAGE_BUCKET__#${{ secrets.TERRAFORM_STATE_BUCKET }}#g' ${{ runner.temp }}/atmos.yaml
          sed -i -e 's#__STORAGE_TABLE__#${{ secrets.TERRAFORM_STATE_TABLE }}#g' ${{ runner.temp }}/atmos.yaml          
          sed -i -e 's#__STORAGE_TABLE__#${{ secrets.TERRAFORM_STATE_TABLE }}#g' ${{ runner.temp }}/atmos.yaml
          sed -i -e 's#__STORAGE_ROLE__#${{ secrets.TERRAFORM_STATE_ROLE }}#g' ${{ runner.temp }}/atmos.yaml
          sed -i -e 's#__PLAN_ROLE__#${{ secrets.TERRAFORM_PLAN_ROLE }}#g' ${{ runner.temp }}/atmos.yaml
          sed -i -e 's#__APPLY_ROLE__#${{ secrets.TERRAFORM_PLAN_ROLE }}#g' ${{ runner.temp }}/atmos.yaml

      - name: Plan Atmos Component
        id: current
        uses: ./
        with:
          component: "foobar/changes"
          stack: "plat-ue2-sandbox"
          sha: da39a3ee5e6b4b0d3255bfef95601890afd80709
          atmos-config-path: ${{ runner.temp }}
          atmos-version: 1.63.0

    outputs:
      result: ${{ steps.current.outcome }}
      summary: ${{ steps.current.outputs.summary }}

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v1
        with:
          expected: 'success'
          actual: "${{ needs.test.outputs.result }}"

      - name: Display structure of downloaded files
        id: metadata
        run: |
          set +e
          
          test -d ./metadata
          DIR_EXISTS=$?
          echo "dir_exists=${DIR_EXISTS}" >> $GITHUB_OUTPUT

      - uses: nick-fields/assert-action@v1
        with:
          actual: "${{ steps.metadata.outputs.dir_exists }}"
          expected: "1"

      - uses: nick-fields/assert-action@v1
        with:
          actual: "${{ fromJSON(needs.test.outputs.summary) }}"
          expected: |
            ## Changes Found for `foobar/changes` in `plat-ue2-sandbox`
            
            <a href="https://cloudposse.com/"><img src="https://cloudposse.com/logo-300x69.svg" width="100px" align="right"/></a>
            [![create](https://shields.io/badge/PLAN-CREATE-success?style=for-the-badge)](#user-content-create-plat-ue2-sandbox-foobar_changes)
            
            
            
            <details><summary><a id="result-plat-ue2-sandbox-foobar_changes" />Plan: 1 to add, 0 to change, 0 to destroy.</summary>
            
            <br/>      
            To reproduce this locally, run:<br/><br/>
            
            ```shell
            atmos terraform plan foobar/changes -s plat-ue2-sandbox
            ```
                
            
            
                
            ---
            ### <a id="create-plat-ue2-sandbox-foobar_changes" />Create
            ```diff
            + random_id.foo
            ```
                
            </details>
            
            <details><summary>Terraform <strong>Plan</strong> Summary</summary>
            
            ```hcl
            
              # random_id.foo will be created
              + resource "random_id" "foo" {
                  + b64_std     = (known after apply)
                  + b64_url     = (known after apply)
                  + byte_length = 8
                  + dec         = (known after apply)
                  + hex         = (known after apply)
                  + id          = (known after apply)
                  + keepers     = {
                      + "seed" = "foo-plat-ue2-sandbox-blue"
                    }
                }
            
            Plan: 1 to add, 0 to change, 0 to destroy.
            ```
            
            </details>


  teardown:
    runs-on: ubuntu-latest
    needs: [assert]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
